% {{ tool_name | upper }} - {{ description }}
%
% Commands:
%   >> <a href="matlab: help {{ tool_name }}.run">{{ tool_name }}.run</a>              - Run {{ tool_name }}
%   >> <a href="matlab: help {{ tool_name }}.do_input_checks">{{ tool_name }}.do_input_checks</a>  - Validate input file
%   >> <a href="matlab: help {{ tool_name }}.copy_inputfiles">{{ tool_name }}.copy_inputfiles</a>  - Create sample input file
%   >> <a href="matlab: help {{ tool_name }}.changelog">{{ tool_name }}.changelog</a>        - Show version history
%
% Version: {{ version }}
% Author:  {{ author }}
%
