% {{ tool_name | upper }} - {{ description }}
%
% Tool main function:
%   Execute by running these commands:
%       >> <a href="matlab: home; help {{ tool_name }}.run">{{ tool_name }}.run</a>              - Run {{ tool_name }} from a given input file
%       >> <a href="matlab: home; help {{ tool_name }}.do_input_checks">{{ tool_name }}.do_input_checks</a>  - Check input file without running
%       >> <a href="matlab: home; help {{ tool_name }}.copy_inputfiles">{{ tool_name }}.copy_inputfiles</a>  - Create empty input file
%       >> <a href="matlab: home; help {{ tool_name }}.changelog">{{ tool_name }}.changelog</a>        - List changes
%
% =====================================================================
