function Schema = get_schema()
    % Returns {{ tool_name }} input fields schema
    %
    % See also InputAttributes, validate.Field

    IA = InputAttributes;

    fields = [ ...
        % Example field:
        % validate.Field('someParameter', ...
        %     default = 1.0, ...
        %     expected = 1.0, ...
        %     classes = IA.CLS_NUM, ...
        %     attributes = IA.ATTR_NUM_SCNONNEG)

        validate.Field('runName', ...
            default = 'default_run', ...
            classes = IA.CLS_CHAR, ...
            attributes = IA.ATTR_CHAR)

        validate.Field('targetDir', ...
             default = '', ...
             classes = IA.CLS_CHAR, ...
             attributes = IA.ATTR_CHAR)

        % Add more fields here
    ];

    Schema = validate.Schema(fields);

end
