classdef LoadExternalFilesStep < runner.BaseStep & logging.Loggable
    % Step for loading external files (data, models, etc.)
    %
    % This step runs before the main model step. Use it to:
    % - Load input data files
    % - Load structural models
    % - Load any external dependencies
    %
    % See also runner.BaseStep, {{ tool_name }}

    methods

        function Obj = LoadExternalFilesStep(varargin)
            Obj = assign_varargin_2_classprop(Obj, varargin{:});

            % Define what this step needs and produces
            Obj.InputKeys.Inputs = {{ tool_package }}.DataKeys.Inputs;
            % Obj.OutputKeys.MyData = {{ tool_package }}.DataKeys.MyData;
        end

        function str = print_label(~)
            str = 'Load external files';
        end

        function run(Obj)
            Inputs = Obj.get({{ tool_package }}.DataKeys.Inputs);

            % Add your file loading logic here
            % Example:
            % data = load(Inputs.dataFilePath);
            % Obj.set({{ tool_package }}.DataKeys.MyData, data);

            Obj.Logger.info('External files loaded.');
        end

    end

end
