classdef MainModelStep < runner.BaseStep & logging.Loggable
    % Main calculation/model step
    %
    % This is where your core logic goes. Use it to:
    % - Perform calculations
    % - Run simulations
    % - Process data
    %
    % See also runner.BaseStep, {{ tool_name }}

    methods

        function Obj = MainModelStep(varargin)
            Obj = assign_varargin_2_classprop(Obj, varargin{:});

            Obj.InputKeys.Inputs = {{ tool_package }}.DataKeys.Inputs;
            % Obj.OutputKeys.Results = {{ tool_package }}.DataKeys.Results;
        end

        function str = print_label(~)
            str = 'Main model calculation';
        end

        function run(Obj)
            Inputs = Obj.get(Obj.InputKeys.Inputs);

            Obj.Logger.info('Running main model...');

            % === YOUR CODE HERE ===
            % Implement your core calculation logic
            %
            % Example:
            % Results = struct();
            % Results.output = my_calculation(Inputs.parameter);
            % Obj.set({{ tool_package }}.DataKeys.Results, Results);
        end

    end

end
