classdef MainModelStep < runner.BaseStep & logging.Loggable
    % Step class for core model calculations

    methods

        function Obj = MainModelStep(varargin)
            Obj = assign_varargin_2_classprop(Obj, varargin{:});

            Obj.InputKeys.Inputs = {{ tool_package }}.DataKeys.Inputs;
            % Obj.OutputKeys.Results = {{ tool_package }}.DataKeys.Results;
        end

        function str = print_label(~)
            str = 'Main calculation model';
        end

        function run(Obj)
            Inputs = Obj.get(Obj.InputKeys.Inputs);

            Obj.Logger.info('Running logic...');

            % Implement your core logic here
            % Results = some_calculation(Inputs);

            % Obj.set({{ tool_package }}.DataKeys.Results, Results);
        end

    end
end
