classdef WriteFilesStep < runner.BaseStep & logging.Loggable
    % Step for writing output files
    %
    % This step runs after the main model step. Use it to:
    % - Save results to .mat files
    % - Export data to other formats
    % - Generate reports
    %
    % See also runner.BaseStep, {{ tool_name }}

    methods

        function Obj = WriteFilesStep(varargin)
            Obj = assign_varargin_2_classprop(Obj, varargin{:});

            Obj.InputKeys.Inputs = {{ tool_package }}.DataKeys.Inputs;
            % Obj.InputKeys.Results = {{ tool_package }}.DataKeys.Results;
        end

        function str = print_label(~)
            str = 'Write output files';
        end

        function run(Obj)
            Inputs = Obj.get(Obj.InputKeys.Inputs);

            % Define output file path
            outputPath = fullfile(Inputs.targetDir, [Inputs.runName, '.mat']);

            % Save results
            % Results = Obj.get({{ tool_package }}.DataKeys.Results);
            % save(outputPath, 'Results');

            Obj.Logger.info('Output written to: %s', outputPath);
        end

    end

end
